@import url('/https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --bg-color:white;
    --second-bg-color:rgb(249, 249, 249);
    --text-color:black;
    --main-color:#112e42;
    --second-text-color:#17384d;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
body{
    background:var(--bg-color);
     font-size: 16px;
     color: #26282b;
     line-height: 1.8em;
    
  
}
nav {
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-top: 0%;
    height: 6rem;
}
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 98;
}
.navbar {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
}

.logo {
    position: relative;
    font-size: 36px;
    text-decoration: none;
    color: black
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #26282b;
    font-size: 20px;
    padding: 2rem;
}
.nav-links a:hover{
    color: #61DAFB;
}
.nav-links li ::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 220ms;
    margin: 0 0 0 1.6%;
}
.nav-links li :hover::after{
    width: 5%;
}
/*humbergar menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}
.navbar h1 span{
    color:black;
    background-color:white;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .navbar {
        background-color: #333;
        height: 7rem;
    }
    .bar{
        background-color: white;
    }
    .menu-toggle {
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        top: 50px;
        right: 0;
        width: 100%;
        height:20rem;
        text-align: start;
        padding: 4rem;
    }
    .nav-links li :hover::after{
        width: 0%;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        padding:0rem ;
        justify-content:left;
    }
    .logo{
        font-size: 30px;
        color: white;
    }
   
}
@media (max-width:520px){
    .nav-links{
        top: 40px;
    }
    .logo{
        font-size: 26px;
    }
}

/******************************************home section*************************/
section {
    
    padding: 10rem 9% 2rem;
    z-index: 1;
    margin-top: 0rem; /* Adjust this value to your preference */
}

.home{
    display: flex;
    align-items:center;
    padding: 0 9%;
    position: relative;
    background-color: white;
}
.home-content{
    max-width: 60rem;

}
.home-content h2{
    padding: 2rem;
    color: blue;
    margin-left: 5rem;
}
.home-content h1{
position: relative;
display: inline-block;
font-size: 6rem;
font-weight: 700;
line-height: 1.3;
}
.home-content .text-animate {
    position: relative;
    width: 32rem;
}

.home-content .text-animate h3{
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -36rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
    z-index: -1;
}
/*******************Key frames ******************/
@keyframes homeBgText{
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}
@keyframes homeCursorText{
    0%,
    10%,
    100%{
        width: 0;
    }
    65%,
    78%,
    85%{
       width: 99%;
       opacity: 1;
    }
    75%,
    81%{
        opacity: 0;
    }
}
@keyframes showRight{
    100%{
        width: 0;
    }
}
.home-content p{
    font-size: 2rem;
    margin: 3rem 0 4rem;
    color:  #1f2938cc;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
position: relative;
display: inline-flex;
justify-content: center;
align-items:center;
width: 15rem;
height: 100%;
background: var(--main-color);
border: .2rem solid var(--main-color);
border-radius: .8rem;
font-size: 1.9rem;
font-weight: 800;
letter-spacing: .1rem;
color: var(--bg-color);
z-index: 1;
overflow: hidden;
}
.btn-box .btn::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color:white ;
z-index: -1;
transition: .5s;
}
.btn-box .btn:hover{
    color: var(--text-colors);
}
.btn-box .btn:nth-child(2){
    background-color: transparent;
    color: var(--text-color);
}
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before{
    background:var(--main-color);
}
.btn-box .btn:hover::before{
    width: 100%;
}
.home-sci{
    margin-top: 7rem;
}

.home-image{
    position: absolute;
    top: 10rem;
    right: 0rem;
    width: 40%;
    height: 100%;
    background: transparent;

}
.home-image img{
    border-radius: 50%;
    transition: 3s;
}
.home-image img:hover{
    background: white;
    opacity: 0.5;
}
/*****************************About section ***************************************************/
.About{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    background: var(--second-bg-color);

}
.About h2{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.about-image{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid blue;
}
.about-image .circle-span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid blue;
    border-right: .2rem solid blue;
    animation: aboutSpinner 8s linear infinite;
}
@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.about-content{
    text-align: center;
}
.about-content h3{
text-align: center;
font-size: 2.6rem;
}
.about-content p{
    font-size: 2rem;
    margin: 2rem 0 3rem;
}
.btn-box .btn{
    text-align:center;
}

/*********************************Education section************************************/
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education h2{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 3.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
border-left: .3rem solid blue;
}
.education-content{
    font-size: 20px;
    position: relative;
    padding-left: 2rem;
}
.education-content p{
    color: #1f2938cc;
}
.year label{
    color: blue;
    font-weight: 900;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;

}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#b5def7;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid blue;
    border-radius: .6rem;
    margin-bottom: 2rem;
}
.year i{
 font-size: xx-large;
 padding: 1rem;
}
/*****************skills section****************/
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);

}
.skills h2{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;

}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#b5def7;
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding:1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: var(--text-color);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
    width: 100%;

}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 95%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 95%;
}

/*****contact page*******************/
.contact h2{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.contact{
min-height: auto;
padding-bottom: 7rem;


}
.contact p{
    text-align: center;
    color:#1f2938cc;
    font-size: 2rem;
}

.column {
    float: left;
    width: 25%;
    padding: 1rem 10px;
  }
  .card i{
    font-size:60px;
    padding: 1rem
  }
  .card label{
    color: rgb(69, 115, 223);
    font-weight: 700;
  }
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 6rem -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: white;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
position: relative;
width: 49%;
margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.btn-box button{
    cursor: pointer;
}

/*********footer page *********************/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: black;
    height: 30rem;
   

}
.home-sci a{
    text-align: center;
    font-size: 35px;
    padding: 1.2rem;
    color: yellow;
    
}
.footer p{
    font-size: 1.6rem;
   color: white;

}
.footer-iconTop a{
    font-size: 30px;
    color: yellow;
}
/* ***************animatiom************/
.logo .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

/*breakpoints / media queries*/

@media (max-width: 1200px) {
     html{
        font-size: 55%;
     }
}
@media (max-width: 991px){

    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}
@media (max-width: 520px){
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .contact-link div{
        width: 40%;
    }
}
@media (max-width: 464px){
    .contact form .input-box .input-field{
        width: 100%;
    }
    .contact-link div{
        width: 100%;
    }
    .footer{
        padding: 2rem 6%;
    }
}
