*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100;
    min-height: 100vh;
    --bgColor:white;
    --fontcolor:black;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.container1{
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
button{
    outline: none;
    border: 0;
    background: transparent;
}
.toggle{
    font-size: 18px;
    cursor: pointer;
}
.toggle i{
padding-right: 5px;
}
.form-control{
    width: 30%;
    position: relative;
    box-shadow:0 0 5px  rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
}
.form-control input[type=text]{
    width: 100%;
    padding: 14px 11px;
    outline: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.form-control i{
position: absolute;
top: 1rem;
right: 1rem;
}
.dropDown{
    width: 100%;
    padding: 14px 11px;
    border-radius: 5px; 
    display: flex; 
    justify-content: space-between; 
    cursor: pointer;
}
.dropDown i{
    cursor: pointer;
    margin-left: 2rem;
}
.dropDown p{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
.continent{
    position: absolute;
   width: 9.7%;
   border-radius: 5px;
    padding: 14px 11px;
    margin-top: .5rem;
    box-shadow:0 0 5px  rgba(0,0,0,0.3); 
}
.countries{
    padding: 30px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    grid-gap:20px;
}
.country{
    min-height: 300px;
    box-shadow:0 0 5px  rgba(0,0,0,0.3); 
    width: 250px;
    border-radius: 5px;
    overflow: hidden;


}
.country-flog{
    height: 180px;

}
.country-flog img{
    width: 100%;

}
.country-info{
    padding: 20px 17px;
}
.country-info h5{
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: blue;
}
.country-info p{
    letter-spacing: 1px;
}
.country-info p>strong{
    font-weight: 600;
}
.showdropdown{
  display: none;  
}
/******************************************************/
.countryModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 30px;
    text-align: center;
}
.show{
    display: none;
}
.countryModal h1{
color: blue;
font-weight: 700;
font-size: 50px;
}
.countryModal button{
    color:black;
    font-size: 20px;
    text-align: left;
    margin-bottom: 3%;
}
.countryModal button:hover{
    cursor: pointer;
    color: blue;
}

.countryDetails p{
    font-size: 25px;
    text-align-last: left;
    text-align: center;
    justify-content: space-between;
    margin-left: 4rem;
}
.countryDetails{
    background-color: white;
    box-shadow:0 0 5px  rgba(0,0,0,0.3);
}
